.game-item {
  display: flex;
  align-items: center; /* vertikal justering */
  gap: 10px;           /* mellomrom */
}

.game-item img {
  width: 50px;
  height: 70px;
  object-fit: cover;   /* hindrer stretching */
}

.game-item span {
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.game-item button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;

  width: auto;
  height: auto;
  line-height: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.game-item button:focus {
  outline: none;
}

ul {
  list-style-type: none;
  padding: 0px;
}